<div class="container">
  Submit a podcast

    <form>
      <input type"text" id="name" name="name">
      <input type"text" id="email" name="email">
      <button type="submit"> Submit </button>
    </form>
</div>
