// Override Bootstrap variables in this file, e.g.

font-size-base = 10px
border-radius-base = 0px
border-radius-large = 0px
border-radius-small = 0px

btn-border-radius-base = 0px
btn-border-radius-large = 0px
btn-border-radius-small = 0px
